@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

$bg-color: rgba(0, 0, 0, 0.151);
$bg-gradient: linear-gradient(to right, #0000008a, #0000008a);
$bg-image: url('../assets/peak-district.jpg');

// sizes
$large-font: calc(1.2rem + 0.3vw);
$med-font: calc(0.9rem + 0.2vw);
$small-font: calc(0.8rem + 0.2vw);
$unit-size: calc($small-font - 0.2vw);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  //font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
}

body{
    height: 100vh;
    width: 100vw;
    background: $bg-gradient, $bg-image;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 1rem;

    font-size: $small-font;
    color: white;

}

.container{
    //backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    //gap: 1rem;
    margin-inline: auto;
    width: 100%;
    max-height: 100%;

    @media screen and (max-width: 600px) {
        overflow-y: scroll;

    }
    
    
    >div{
        width: min(80%, 1000px);

        &.main-info,
        &.options{
            width: min(80%, 400px)
        }
    }
}


.search-box{
    //background-color: rgba(0, 128, 0, 0.5);
    //padding: 1rem 1.5rem;

    display: flex;
    justify-content: center;
    margin-top: 1rem;

    *{
        border: none;
        border-bottom: 2px solid white;
        background: none;
    }
    
    input{
        height: 2rem;
        color: white;
        font-size: $med-font;
        padding: 0 0 0.1rem 0.8rem;
        text-transform: uppercase;
        
        &::placeholder{
            color: rgba(255, 255, 255, 0.548);
            font-size: $med-font;
            padding-left: 0.2rem;
        }

        &:focus{
            outline: none;
        }
    }

    button{
        height: 2rem;
        width:  2rem;
        background-image: url(../assets/search-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.error-msg{
    display: flex;
    justify-content: center;
    min-height: 1rem;
    margin-block: 0.2rem 1rem;

    font-size: $small-font;
    color: rgb(255, 255, 255);
}

.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    
    background-color: $bg-color;
    padding-block: 1rem;
    border-radius: 10px 10px 0 0;

    >div{
        min-width: 100%;
        text-align: center;
        
    }

    .city{
        font-size: $large-font;
    }
    
    .date{
        font-size: $small-font;
        color: whitesmoke;
    }
    
    .status{
        font-size: $large-font;
        text-transform: capitalize;
        margin-top: 1.5rem;
    }

    .img-and-temp{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img{
            width: 6.5rem;
        }
        
        .temperature{
            position: relative;
            font-size: 2rem;
        }
        
    }
    

    
    .stats{
        display: flex;
        margin: 1.5rem 0 0.2rem;
    
        .stat-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            line-height: 1rem;
            flex: 0.25;

            img{
                width: 30px;
                height: 30px;
            }            
        }
    }
}

.wind-unit{
    font-size: $unit-size;
}

.temp-unit{
    font-size: $unit-size;
    vertical-align: super;
}

.feels-like-temp-unit{
    font-size: calc($unit-size * 0.9);
    vertical-align: top;
}



.options{
    display: flex;
    justify-content: space-between;

    button{
        width: 60px;
        height: 100%;
        padding-block: 0.2rem;
        background-color: $bg-color;
        
        color: rgb(145, 145, 145);
        border: none;
    }
    
    button.selected{
        color: white;
        background-color:  $bg-color;
        font-weight: 600;
    }
}

.forecast-title{
    margin-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: $large-font;
    text-align: center;
    //text-transform: uppercase;
    //background-color: $bg-color;
}

.forecast{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    //put some shadow/blur effect on sides
   /*  box-shadow: -2px 0px 0px 0px rgba(102, 100, 100, 0.479), 
                2px 0px 0px 0px rgba(102, 100, 100, 0.479); */
    /* box-shadow: inset 10px 0 10px -5px rgba(102, 100, 100, 0.479),
                inset -10px 0 10px -5px rgba(102, 100, 100, 0.479); */

    .hourly-forecast{
        display: flex;
        gap: 0.8rem;
        overflow-x: scroll;

        @media (min-width: 1225px){
            overflow-x: hidden;

        }
    
        //padding-bottom: 3em;
    
        >div{
            z-index: 1;
            width: 100px;
            padding-block: 1rem;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            text-align: center;
    
            background-color:  $bg-color;
    
            .hour__time{
                font-size: $large-font;
            }
    
            .img-container{
                width: 70px;
                height: 75px;
    
                img{
                    width: 100%;
                    height: 70px;
                    padding: 0;
                } 
            }

            .hour__temperature{
                font-size: $med-font;
            }
    
        
        }    
    }
}
