*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(70, 130, 180);
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    min-height: 100%;
    margin-inline: auto;
}

.search-box{
    background-color: rgba(0, 128, 0, 0.5);
    flex-grow: 0.1;

}

.main-info{
    background-color: rgba(128, 128, 128, 0.5);
    flex-grow: 0.5;
}

.forecast{
    background-color: rgba(255, 0, 0, 0.5);
    flex-grow: 0.5;
}