@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

$bg-color: rgba(58, 53, 53, 0.5);

// sizes
$unit-size: 11px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

button{
    cursor: pointer;
}

body{
    height: 100%;
    width: 100vw;
    background: linear-gradient(to right, #0000008a, #0000008a), url('../assets/peak-district.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;

    font-size: 0.9rem;
    color: white;
}

.container{
    //backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    //gap: 1rem;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

    >div{
        width: 80%;
    }
}

.search-box{
    //background-color: rgba(0, 128, 0, 0.5);
    //padding: 1rem 1.5rem;

    display: flex;
    justify-content: center;
    margin-top: 1rem;

    *{
        border: none;
        border-bottom: 2px solid white;
        background: none;
    }
    
    input{
        height: 2rem;
        color: white;
        font-size: large;
        
        &::placeholder{
            color: rgba(255, 255, 255, 0.548);
            font-size: 1rem;
            padding-left: 0.2rem;
        }
    }

    button{
        height: 2rem;
        width:  2rem;
        background-image: url(../assets/search-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.error-msg{
    display: flex;
    margin-left: 3rem;
    min-height: 1rem;
    margin-bottom: 1rem;

    font-size: max(12px, 0.8rem);
    color: whitesmoke;
}

.main-info{
    background-color: $bg-color;
    //flex-grow: 0.4;
    padding-block: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    >div{
        //border: 1px solid white;
        min-width: 100%;
        text-align: center;
        //padding-block: 0.2rem;
        
    }

    .city{
        font-size: 1.5rem;
        //font-weight: 600;
    }
    
    .date{
        font-size: 1rem;
    }
    
    .status{
        font-size: 1.5rem;
        //font-weight: 600;
        text-transform: capitalize;
        margin-top: 1rem;
    }

    .img-and-temp{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img{
            width: 5.5rem;
        }
        
        .temperature{
            position: relative;
            font-size: 2rem;
        }
        
    }
    

    
    .stats{
        display: flex;
        margin: 2rem 0 0.2rem;
    
        .stat-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            line-height: 1rem;
            flex: 0.25;

            img{
                width: 30px;
                height: 30px;
            }            
        }
    }
}

.wind-unit{
    font-size: $unit-size;
}

.temp-unit{
    font-size: $unit-size;
    vertical-align: super;
}

.feels-like-temp-unit{
    font-size: calc($unit-size * 0.8);
    vertical-align: top;
}



.options{
    display: flex;
    justify-content: space-between;

    button{
        width: 60px;
        height: 100%;
        padding-block: 0.2rem;
        
        color: grey;
        background-color:  $bg-color;
        border: none;
    }

    button.selected{
        color: white;
        font-weight: 600;
    }
}


.forecast{
    display: grid;
    grid-template: auto /  1fr;
    margin-top: 2rem;
}

.forecast-choice{
    display: flex;
    justify-content: center;

    button {
        height: 35px;
        padding: 0.5rem;
        border: none;
        color: grey;
        background-color:  $bg-color;
        font-weight: 100;

        &.selected{
            color: white;
            font-weight: 600;
        }
    }


}

.hourly-forecast,
.daily-forecast{
    display: none;
    flex-direction: column;
    gap: 0.2rem;

    &.active{
        display: flex;
    }

    >div{
        width: 100%;
        height: 50px;

        display: grid;
        grid-template-columns: 0.25fr 0.4fr 0.8fr 0.3fr;
        align-items: center;
        justify-items: center;
        background-color:  $bg-color;;

        img{
            width: 35px;
            height: 35px;
        }   
    }    
}